{% load static %}
<div class="container-fluid counter-wrapper  text-center mt-5">
  <div class="row">
  <div class="col-lg-3 p-0" id="c1">
      <section class="counters">
        <div class="container">
          <div class="num">
            <div class="counter" data-target="50">0</div>
            <p class="text-muted">YEARS OF EXPERIENCED</p>
           </div>
        </div>
      </section>
  </div>
  <div class="col-lg-3 p-0" id="c2">
      <section class="counters">
        <div class="container">
          <div class="num">
            <div class="counter2" data-target="100">0</div>
            <p class="text-muted">MENUS/DISH</p>
           </div>
        </div>
      </section>
  </div>
  <div class="col-lg-3 p-0" id="c3">
      <section class="counters">
        <div class="container">
          <div class="num">
            <div class="counter3" data-target="25">0</div>
            <p class="text-muted">STAFFS</p>
           </div>
        </div>
      </section>
  </div>
  <div class="col-lg-3 p-0" id="c4">
      <section class="counters">
        <div class="container">
          <div class="num">
            <div class="counter4" data-target="15000">1000</div>
            <p class="text-muted">HAPPY CUSTOMERS</p>
           </div>
        </div>
      </section>
  </div>
  </div>
</div>
