{% load static %}
<!--Services-->
<div class="jumbotron">
  <div class="container-fluid text-center catering">
    <div class="row">
      <div class="col col-lg-4 col-md-5 col-sm-12 col-12" id="s1">
        <i class="far fa-list-alt"></i>
        <h4>EASY TO ORDER</h4>
        <p class="pt-3">It convenient for everyone to order the food using a computer or
          mobile phone through the website as much as possible they will have internet connections.</p>
      </div>
      <div class="col col-lg-4 col-md-6 col-sm-12 col-12" id="s2">
        <i class="fas fa-truck"></i>
          <h4>FASTEST DELIVERY</h4>
        <p class="pt-3">Is the process of transporting goods from a source location
          to a predefined destination and just to make sure our food is secure and they have a good taste.</p>
      </div>
      <div class="col col-lg-4 col-md-5 col-sm-12 col-12" id="s3">
        <i class="fas fa-utensils pb-3"></i>
          <h4>FILIPINO FOOD</h4>
        <p class="pt-3">This is the delicacy of every Filipino of different regions and
           different dishes that have good taste and delicious, and they have good commodities. Enjoy filipino food!</p>
      </div>
    </div>
  </div>
</div>
