{% load static %}

<div class="container-fluid ">
  <div class="row">
    <div class="col col-12 col-lg-5 col-sm-12 about-img">
    </div>
    <div class="col col-12 col-lg-7 col-sm-12 ">
      <div class="wrapper-black">
        <span>About</span>
        <h3>Welcome to FarEast Restaurant</h3>
        <p>The foods that you want to consume will have a direct effect on your ability to truly enjoy life. The pleasurable feeling that you get from consuming a good-tasting meal is probably the most obvious positive effect of food. Eating is one of life’s pleasure and pride – so is cooking and serving good food to others.
           Far East Restaurant is a food restaurant that offers different varieties of  Filipino Dishes.</p>
           <!--<div class="container special">
             <div class="row">
               <div class="col">
                   <img src="{% static 'images/about.jpg' %}" class="img-fluid">
               </div>
             </div>
           </div>-->
      </div>
    </div>
  </div>
</div>
